@use "theme";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
  
}

.quiz-container {
  text-align: center;
  max-width: 800px;
  min-width: 300px;
  
  h1 {
    color: theme.$common-purple;
    font-size: 3em;
    margin-bottom: 20px;
    font-family: 'Caveat', sans-serif;
    font-weight: 700;
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #666;
  }
  
  .quiz-content {
    background: #f8f9fa;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    p {
      font-size: 1.1em;
      margin-bottom: 30px;
    }
    
    .btn {
      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
      padding: 12px 30px;
      font-size: 1.1em;
      border-radius: 25px;
      text-decoration: none;
      transition: all 0.3s ease;
      
      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      }
    }
  }
}