@use "theme";

nav {
  height: 80px;
  background: var(--gradient-primary);
  transition: background 0.3s ease;

  div {
    height: 100%;
    display: flex;
    align-items: center;

    img {
      margin-left: 20px;
      height: 60px;
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

mat-nav-list {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  width: 20%;
 

  span,
  a {
    font-size: large;
    color: theme.$white;
    transition: 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }
}
